*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background-image:linear-gradient(45deg,rgb(29, 29, 44),rgb(56, 6, 148));
    height: 98vh;
    color: rgb(255, 255, 255);
    
}
h1{
   text-align: center;
}
.container{
   margin-bottom: 10px;
    border-radius: 1rem;
    background-color: rgb(89, 31, 182);
    width: 
    250px;
    text-align: left;
    padding:10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    padding: 3px;
   
}
#calcular{
    padding: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    
}

p{
    padding-bottom: 10px;
}

